<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolflix</title>
    <!-- axios CDN -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
    <div id="app">
        <header>
            <nav>
                <input type="text" name="search-input" id="search-input" v-model="searchInput">
                <button @click="search">Cerca</button>
            </nav>
        </header>

        <main>
            <div v-for="movie in movies" class="card">
                <ul>
                    <li>Titolo: {{movie.title}}</li>
                    <li>Titolo originale: {{movie.original_title}}</li>
                    <li>Lingua originale: {{movie.original_language}}</li>
                    <li>Voto: {{movie.vote_average}}</li>
                </ul>
            </div>
        </main>
    </div>

    <!-- Vue Dev CDN -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!-- my script javascript -->
    <script src="./assets/js/main.js"></script>
</body>
</html>